# Dependencies checkout
deps

# macOS
.DS_Store

# Binance proxy URLs
.env

# Drop bug isolation notebooks hwere
bug-hunting/

# Dropped by some notebook environments when they cannot find ~/.cache
cache/